In [7]:
! pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\user\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)

In [9]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [11]:
! pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\user\anaconda3\lib\site-packages (5.1.0)

In [13]:
! pip install pymysql

Collecting pymysql
  Using cached PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Using cached PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [25]:
import sqlalchemy as sqa
import pandas as pd
import pyodbc
import pymysql

username = 'root'
password = '1909'
host = 'localhost'
port = '3306'
database = 'online_Banking'

url = 'mysql+pymysql://{0}:{1}@{2}:{3}/{4}'.format(username, password, host, port, database)
live_database = sqa.create_engine(url)
live_database

username = 'root'
password = '1909'
host = 'localhost'
port = '3306'
database = 'wh_ob'

url = 'mysql+pymysql://{0}:{1}@{2}:{3}/{4}'.format(username, password, host, port, database)
wh_database = sqa.create_engine(url)
wh_database

Engine(mysql+pymysql://root:***@localhost:3306/wh_ob)

In [27]:
df = pd.read_sql_query("""select * from customer_joining_info cji;""",live_database)

In [29]:
print(df)

      customer_id  region_id  area_id   join_date
0               1          3        4  2020-01-02
1               2          3        5  2020-01-03
2               3          5        4  2020-01-27
3               4          5        4  2020-01-07
4               5          3        3  2020-01-15
...           ...        ...      ...         ...
3495          496          3        4  2020-02-25
3496          497          5        4  2020-05-27
3497          498          1        2  2020-04-05
3498          499          5        1  2020-02-03
3499          500          2        2  2020-04-15

[3500 rows x 4 columns]

In [37]:
df.to_sql(
        name = 'customer_joining_info',
        con = wh_database,
        if_exists = 'replace',
        index = False
       
   
)

3500

In [39]:
df = pd.read_sql_query("""select * from area;""",live_database)

In [41]:
df.to_sql(
        name = 'area',
        con = wh_database,
        if_exists = 'replace',
        index = False
       
   
)

5

In [43]:
df = pd.read_sql_query("""select * from customer_transactions;""",live_database)

In [45]:
df.to_sql(
        name = 'customer_transactions',
        con = wh_database,
        if_exists = 'replace',
        index = False
       
   
)

5868

In [47]:
df = pd.read_sql_query("""select * from region;""",live_database)

In [49]:
df.to_sql(
        name = 'region',
        con = wh_database,
        if_exists = 'replace',
        index = False
       
   
)

5